registry=https://pkgs.dev.azure.com/ineogenerafi/_packaging/ineogenerafi/npm/registry/

always-auth=true
//pkgs.dev.azure.com/ineogenerafi/_packaging/ineogenerafi/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/ineogenerafi/_packaging/ineogenerafi/npm/registry/:_password=a3FqemEzY2o1b3NmdjNoanpqaHBhYnR1YWZqbWhrdXp5cW1neHV2enBoemRramc0d21rYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/ineogenerafi/_packaging/ineogenerafi/npm/registry/:email=not-used@example.com

