<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-lg-2 bg-light vh-100">
      <div class="sidebar p-3">
        <h5>Sidebar</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/auto-complete" routerLinkActive="router-link-active">AutoComplete</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-9 col-lg-10">
      <div class="p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>